body {
  margin: 0px;
}

//landing page
.landing-page{
  min-width: 1250px;
  min-height: 620px;
  background-color: rgb(189,	163,	143);
  padding-top: 5px;
  .header-nav {
    div {
      display: inline-block;
    }
    .left-nav {
      font-size: 25px;
      img {
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
      }
      .tm {
        vertical-align: text-top;
        font-size: 15px;
        font-weight: 100;
      }
    }
    .right-nav {
      vertical-align: middle;
      font-size: 16px;
      margin-top: 10px;
      span {
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        color: white;
      }
      .caps {
        text-transform: capitalize;
      }
      .buy{
        border: 1px solid white;
        border-radius: 50px;
        padding: 4px 9px;
        span {
          margin: 0px;
        }
      }
    }
  }
  .header {
    text-align: center;
    margin-top: 85px;
    color: white;
    font-family: 'Roboto', sans-serif;
    h1 {
      font-size: 45px;
      margin-bottom: 20px;
      font-weight: 300;
    }
    h3 {
      font-size: 21px;
      margin-top: 17px;
      font-weight: 100;
    }
    .header-image {
      img {
        width: 550px;
      }
    }
  }
}

//about page
//blurs the background for this section of the page
#about:before {
  content: "";
  position: absolute;;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('../images/potato-background.jpg');
  width: 100%;
  height: 620px;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#about {
  //used for background blur
  min-width: 1250px;
  min-height: 620px;
  position: relative;
  left: 0;
  right: 0;
  z-index: 0;

  color: rgb(124, 124, 124);
  text-align: center;

  .spacer {
    height: 30px;
  }
  .header {
    .title {
      font-size: 45px;
      font-weight: 100;
      text-shadow: 0 0 1px rgba(0, 0, 0, .4);
    }
    h5 {
      font-size: 22px;
      text-shadow: 0 0 1px rgba(0, 0, 0, .4);
      .potato {
        font-weight: 500;
        text-shadow: 0 0 0px rgba(0, 0, 0, .4);
      }
      .comes {
        font-weight: 100;
      }
    }
  }
  .potato-examples {
    img {
      margin-top: 40px;
      width: 600px;
    }
  }

}

//nutrition page
#nutrition {
  min-width: 1250px;
  min-height: 620px;
  background-image: url('../images/potato-background.png');
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 40px;
  text-align: center;

  .header {
    color: white;
    span {
      font-weight: 100;
      font-size: 18px;
      letter-spacing: 1px;
    }
    h3 {
      margin-top: 0px;
      font-weight: 100;
      font-size: 45px;
      span {
        font-weight: 400;
        font-size: 38px;
        letter-spacing: normal;
      }
      .tm {
        font-weight: 100;
        font-size: 20px;
        vertical-align: text-top;
      }
    }
  }
  .potato-facts {
    img {
      width: 450px;
      float: none;
    }
    span {
      display: inline-block;
      color: white;
      margin-right: 40px;
      font-size: 18px;
      text-align: center;
      font-weight: 100;
    }
    .number {
      font-size: 40px;
      font-family: 'Roboto';
      margin-right: 0px;
    }
  }
}

#features {
  min-width: 1250px;
  min-height: 620px;
  background-image: url('../images/features-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 40px;
  .header {
    color: rgb(152,	121,	68);
    font-weight: 100;
    h3 {
      font-weight: 100;
      margin-top: 0px;
    }
    span {
      font-size: 18px;
      letter-spacing: .6px;
      .potato {
        font-weight: 500;
      }
      .tm {
        font-weight: 100;
        vertical-align: top;
      }
    }
  }
}
